.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mainContainer {
  height: 100%;
  display: grid;
  outline: 5px;
}

.border {
  max-width: 30%;
	max-height: 30%;
	border: medium solid chartreuse;
	background-color: papayawhip;
	width: 25px;
	height: 300px;
}
